@charset "utf-8";

/*====================================================================

01.format
02.common
03.top
04.low-common
05.company
06.business
07.facility
08.product
09.news

=====================================================================*/

/*  01.format
-------------------------------------------------- */
 @mixin wrap {
  width: 980px;
  margin: 0 auto;
}

$fc01: #1b1b1b;
$blue: #0093fd;
$bc01: #cccccc;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

$breakpoint-mobile01: 750px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$breakpoint-mobile02: 751px;
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

$breakpoint-mobile03: 320px;
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

$breakpoint-mobile04: 1650px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$break-point-min01: 321px;
$break-point-max01: 370px;
@mixin middle-screen01($break-point-min01, $break-point-max01) {
  @media screen and (min-width: $break-point-min01) and (max-width: $break-point-max01) {
    @content;
  }
}

$break-point-min02: 371px;
$break-point-max02: 420px;
@mixin middle-screen02($break-point-min02, $break-point-max02) {
  @media screen and (min-width: $break-point-min02) and (max-width: $break-point-max02) {
    @content;
  }
}

$break-point-min03: 421px;
$break-point-max03: 470px;
@mixin middle-screen03($break-point-min03, $break-point-max03) {
  @media screen and (min-width: $break-point-min03) and (max-width: $break-point-max03) {
    @content;
  }
}

$break-point-min04: 471px;
$break-point-max04: 520px;
@mixin middle-screen04($break-point-min04, $break-point-max04) {
  @media screen and (min-width: $break-point-min04) and (max-width: $break-point-max04) {
    @content;
  }
}

$break-point-min05: 521px;
$break-point-max05: 570px;
@mixin middle-screen05($break-point-min05, $break-point-max05) {
  @media screen and (min-width: $break-point-min05) and (max-width: $break-point-max05) {
    @content;
  }
}

$break-point-min06: 571px;
$break-point-max06: 620px;
@mixin middle-screen06($break-point-min06, $break-point-max06) {
  @media screen and (min-width: $break-point-min06) and (max-width: $break-point-max06) {
    @content;
  }
}

$break-point-min07: 621px;
$break-point-max07: 670px;
@mixin middle-screen07($break-point-min07, $break-point-max07) {
  @media screen and (min-width: $break-point-min07) and (max-width: $break-point-max07) {
    @content;
  }
}

$break-point-min08: 671px;
$break-point-max08: 720px;
@mixin middle-screen08($break-point-min08, $break-point-max08) {
  @media screen and (min-width: $break-point-min08) and (max-width: $break-point-max08) {
    @content;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight: normal;
  vertical-align:baseline;
  background:transparent;
}

body {
  min-width: 980px;
  font-size: 14px;
  line-height:1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: $fc01;
  @include max-screen($breakpoint-mobile01) {
    min-width: 0;
    font-size: 22px;
    line-height: 1;
  }
  @include min-screen($breakpoint-mobile02) {
    font-size: 14px;
    line-height: 1;
  }
  @include max-screen($breakpoint-mobile03) {
    font-size: 12px;
    line-height: 1;
  }
  @include middle-screen01($break-point-min01, $break-point-max01) {
    font-size: 13px;
    line-height: 1;
  }
  @include middle-screen02($break-point-min02, $break-point-max02) {
    font-size: 14px;
    line-height: 1;
  }
  @include middle-screen03($break-point-min03, $break-point-max03) {
    font-size: 15px;
    line-height: 1;
  }
  @include middle-screen04($break-point-min04, $break-point-max04) {
    font-size: 16px;
    line-height: 1;
  }
  @include middle-screen05($break-point-min05, $break-point-max05) {
    font-size: 17px;
    line-height: 1;
  }
  @include middle-screen06($break-point-min06, $break-point-max06) {
    font-size: 18px;
    line-height: 1;
  }
  @include middle-screen07($break-point-min07, $break-point-max07) {
    font-size: 19px;
    line-height: 1;
  }
  @include middle-screen08($break-point-min08, $break-point-max08) {
    font-size: 20px;
    line-height: 1;
  }
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ol, ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration: none;
  vertical-align:baseline;
  background:transparent;
  color: $fc01;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

img {
  vertical-align: top;
  font-size:0;
  line-height: 0;
  @include max-screen($breakpoint-mobile01) {
    width: 100%;
    height: auto;
  }
}

.pc {
  @include max-screen($breakpoint-mobile01) {
    display: none!important;
  }
}

.rsp {
  @include min-screen($breakpoint-mobile01) {
    display: none!important;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}


/*  02.common
-------------------------------------------------- */
.inner {
  @include clearfix;
  @include wrap;
  @include max-screen($breakpoint-mobile01) {
    width: 94.4%;
    margin: 0 auto;
  }
}

#header {
  width: 100%;
  margin-bottom: 15px;
  border-top: 7px solid $blue;
  @include max-screen($breakpoint-mobile01) {
    margin-bottom: 0;
    border-top: none;
  }
  .inner {
    position: relative;
     @include max-screen($breakpoint-mobile01) {
      width: 100%;
     }
    h1 {
      padding: 13px 0 0 235px;
      margin-bottom: 35px;
      font-size: 12px;
      @include max-screen($breakpoint-mobile01) {
        width: 40.27%;
        padding: 0;
        padding: 4.58% 0 0 2.8%;
        margin: 0;
      }
    }
    .htel {
      position: absolute;
      top: 0;
      right: 0;
    }
    .hlogo {
      width: 262px;
    }
    #gnav {
      li {
        display: inline-block;
        padding: 10px 30px 0 0;
        &:last-child {
          padding-right: 0;
        }
        a:hover {
          color: $fc01;
          text-decoration: underline;
        }
      }
    }
    .tel_btn {
      border-left: 1px solid $blue;
      img {
        display: block;
      }
    }
    #menu_btn {
      border-left: 1px solid $blue;
      img {
        display: block;
      }
    }
    #menu {
      display: none;
      width: 100%;
      position: absolute;
      z-index: 100;
      border-top: 1px solid #fff;
      li {
        background-color: $blue;
        border-bottom: 1px solid #fff;
        a {
          display: block;
          padding: 2.6% 1.32%;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  height: 235px;
  background: url("../img/footer_bg.gif");
  @include max-screen($breakpoint-mobile01) {
    height: auto;
    background: none;
  }
  .f_inner {
    @include wrap;
    position: relative;
    dl {
      width: 262px;
      margin-top: 70px;
      font-size: 13px;
      line-height: 1.538;
    }
    ul {
      margin-top: 115px;
      li {
        float: left;
        padding: 0 13px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .to_top {
      position: absolute;
      right: 0;
    }
    .cr {
      clear: both;
      padding-top: 45px;
      font-size: 12px;
      text-align: center;
      color: #fff;
    }
  }
  .rto_top {
    @include clearfix;
    width: 94.4%;
    margin: 0 auto 4.41%;
    a {
      display: block;
      float: right;
      padding-left: 35px;
      background: url("../img/sp/tt_btn.gif") 0 0 no-repeat;
    }
  }
  .fnav {
    @include clearfix;
    width: 100%;
    margin-bottom: 4.16%;
    li {
      width: 50%;
      float: left;
    }
  }
  .address {
    border-bottom: 13px solid $blue;
    .address_in {
      width: 94.4%;
      margin: 0 auto;
      padding-bottom: 4.16%;
      .txt {
        padding: 13px 0;
      }
    }
  }

  .switch {
    padding: 6.3% 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    p {
      border: 1px solid #000;
    }
    .switch_in {
      @include clearfix;
      li {
        width: 50%;
        float: left;
        a {
          display: block;
          text-align: center;
        }
        &:first-child a{
          border-right: 1px solid #000;
        }
        &:last-child a{
          border-left: 1px solid #000;
        }
      }
    }
  }
  .rcr {
    padding: 27px 0;
    text-align: center;
    color: #fff;
    background-color: $blue;
  }
}

/*  03.top
-------------------------------------------------- */
#mimg {
  position: relative;
  width: 100%;
  background-color: #f4f4f4;
  border-top: 1px solid $bc01;
  .slider {
    margin: 0;
    padding: 0;
    li {
      height: 399px;
      background-position: center 0;
      background-repeat: no-repeat;
      img {
        width: 100%;
      }
    }
  }
  .bx-controls-direction {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    z-index: 99;
    @include max-screen($breakpoint-mobile04) {
      display: none;
    }
    .bx-prev {
      float: left;
      display: block;
      width: 16px;
      height: 30px;
      padding: 15px 5px 0 0;
      font-size: 18px;
      color: #fff;
      background: url("../img/top/prev_btn.gif") 0 0 no-repeat;
    }
    .bx-next {
      float: right;
      display: block;
      width: 16px;
      height: 30px;
      padding: 15px 0 0 5px;
      font-size: 18px;
      color: #fff;
      background: url("../img/top/next_btn.gif") 0 0 no-repeat;
    }
  }
}

#rmimg {
  position: relative;
  width: 100%;
  .rslider {
    margin: 0;
    padding: 0;
  }
}

#top {
  .section {
    padding: 50px 0;
    @include max-screen($breakpoint-mobile01) {
      padding: 4.86% 0 6.94%;
    }
    h2 {
      margin-bottom: 25px;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 3.67%;
      }
    }
  }
  #section01 {
    .inner {
      .rh2ttl {
        width: 65.5%;
      }
      ul {
        li {
          float: left;
          width: 300px;
          height: 310px;
          @include max-screen($breakpoint-mobile01) {
            float: none;
            width: 100%;
            height: auto;
            margin-bottom: 5%;
            &:last-child {
              margin-bottom: 0;
            }
          }
          &:nth-child(2) {
            margin: 0 40px;
            @include max-screen($breakpoint-mobile01) {
              margin: 0 0 34px;
            }
          }
          .h3ttl01 {
            width: 73%;
          }
          .h3ttl02 {
            width: 65.7%;
          }
          .h3ttl03 {
            width: 65.5%;
          }
          .img {
            padding-bottom: 4px;
            margin-bottom: 10px;
            border-bottom: 7px solid $blue;
            @include max-screen($breakpoint-mobile01) {
              padding-bottom: 0;
              margin-bottom: 2.94%;
              border-bottom: none;
            }
          }
          .txt_area {
            height: 76px;
            margin: 16.5px 0 6.5px;
            font-size: 12px;
            line-height: 1.538;
            @include max-screen($breakpoint-mobile01) {
              height: auto;
              margin: 1.9% 0 0;
              font-size: 100%;
            }
            .txt {
              padding-left:1em;
              text-indent:-1em;
            }
          }
        }
      }
    }
  }
  #section02 {
    width: 100%;
    background-color: #f4f4f4;
    .inner {
      .h2ttl {
        padding-bottom: 10px;
        background: url("../img/top/secttl_bg.gif") 0 bottom no-repeat;
        span {
          display: block;
          float: right;
          padding: 5px 0 0 20px;
          background: url("../img/top/mark.gif") 0 5px no-repeat;
          @include max-screen($breakpoint-mobile01) {
            background-position: 0 8px;
          }
          a {
            font-size: 12px;
            @include max-screen($breakpoint-mobile01) {
              font-size: 19px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .ttl_wrap {
        background: url("../img/top/secttl_bg.gif") 0 bottom no-repeat;
        .rh2ttl {
          width: 27.2%;
          padding-bottom: 15px;
          margin-bottom: 0;
        }
      }
      ul {
        li {
          @include clearfix;
          padding: 23px 0;
          border-bottom: 1px solid $bc01;
          &:first-child {
            padding-top: 0;
          }
          @include max-screen($breakpoint-mobile01) {
            padding: 3.34% 0;
            &:first-child {
            padding-top: 3.34%;
            }
          }
          h3 {
            width: 695px;
            padding: 2px 0 0 35px;
            @include max-screen($breakpoint-mobile01) {
              width: 71%;
              padding: 0;
            }
            a:hover {
              text-decoration: underline;
            }
          }
          .date {
            width: 250px;
            padding-top: 2px;
            background: url("../img/top/news_tab.gif") right 0 no-repeat;
            @include max-screen($breakpoint-mobile01) {
              width: 29%;
              padding-top: 0;
              background: none;
            }
          }
        }
      }
    }
  }
  #section03 {
    .inner {
      ul {
        li {
          float: left;
          width: 298px;
          border: 1px solid $bc01;
          &:nth-child(2) {
            margin: 0 40px;
          }
        }
      }
      .fb_wrap {
        width: 73.5%;
        margin: 0 auto;
        .fb_iframe_widget,
        .fb_iframe_widget span,
        .fb_iframe_widget iframe[style]{
          width: 100% !important;
        }
      }
    }
  }
}

/*  04.low-common
-------------------------------------------------- */
.low_header {
  padding-bottom: 12px;
  background: url("../img/low/header_bg.gif");
  border-bottom: 1px solid $bc01;
  @include max-screen($breakpoint-mobile01) {
    padding-bottom: 0;
    background: none;
    border-bottom: none;
  }
}

#breadcrumb {
  margin-bottom: 8px;
  ol {
    width: 980px;
    margin: 0 auto;
    li {
      display: inline-block;
      font-size: 11px;
      a {
        color: $blue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#low_mimg {
  background: url("../img/low/mimg_bg.jpg");
  border-top: 1px solid $bc01;
  border-bottom: 1px solid $bc01;
  .inner {
    padding: 57px 0 50px;
    background: url("../img/low/mimg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
      margin: 0;
      padding: 7.36% 0;
      background: url("../img/sp/low/mimg_bg.jpg") 0 0 no-repeat;
      background-size: cover;
    }
    .h2ttl {
      padding-left: 25px;
      @include max-screen($breakpoint-mobile01) {
        padding-left: 6.25%;
      }
    }
    @include max-screen($breakpoint-mobile01) {
      .company {
        width: 46.25%;
      }
      .business {
        width: 17.2%;
      }
      .facility {
        width: 28.75%;
      }
      .product {
        width: 23.19%;
      }
      .news {
        width: 39.4%;
      }
    }
  }
}

.low_main {
  padding: 40px 0 150px;
  @include max-screen($breakpoint-mobile01) {
    padding: 5.55% 0 13.8%;
  }
  .inner {
    .section {
      @include clearfix;
      margin-bottom: 50px;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 7.35%;
      }
      p {
        line-height: 1.857;
      }
    }
    .last {
      margin-bottom: 0;
    }
    #bnr_area {
      margin-top: 80px;
      .bnr {
        @include clearfix;
        height: 60px;
        padding: 25px;
        margin-bottom: 6.5px;
        background: url("../img/business/bnr_bg.jpg") 0 0 no-repeat;
        .txt01 {
          width: 295px;
          font-size: 12px;
          color: $blue;
        }
        .txt_area01 {
          width: 450px;
          .txt02 {
            margin: 10px 0 15px;
            font-size: 16px;
          }
          .txt03 {
            font-size: 24px;
            color: $blue;
            span {
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
      }
      .txt_area02 {
        line-height: 1.857;
      }
    }
    .pager_area{
      ul{
        li{
          display: inline-block;
          border: 1px solid $bc01;
          padding: 5px;
          .current{
            display: block;
          }
          .inactive{
            display: block;
          }
        }
        .active {
          border: 1px solid $blue;
        }
        .prev_btn {
          @include max-screen($breakpoint-mobile01) {
            float: left;
            width: 17.77%;
            padding: 1.8% 0;
            border: none;
            background: url("../img/sp/news/prev_btn_bg.gif") 0 0 no-repeat;
            background-size: 100% 100%;
            a {
              display: block;
              padding-right: 10%;
              text-align: right;
            }
          }
        }
        .next_btn {
          @include max-screen($breakpoint-mobile01) {
            float: right;
            width: 17.77%;
            padding: 1.8% 0;
            border: none;
            background: url("../img/sp/news/next_btn_bg.gif") 0 0 no-repeat;
            background-size: 100% 100%;
            a {
              display: block;
              padding-left: 12%;
            }
          }
        }
      }
    }
  }
}

/*  05.company
-------------------------------------------------- */
#company {
  .inner {
    .h3ttl01,
    .h3ttl02 {
      padding: 0 0 27px 15px;
      background: url("../img/low/h3ttl_bg.gif") 0 bottom no-repeat;
      @include max-screen($breakpoint-mobile01) {
        padding: 0 0 4.41% 1.17% ;
        background: url("../img/sp/low/h3ttl_bg.gif") 0 bottom no-repeat;
        background-size: 100% auto;
      }
    }
    .h3ttl02 {
      margin-bottom: 27px;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 5.14%;
      }
    }
    #section01 {
      .h3ttl01 {
        margin-bottom: 21px;
        @include max-screen($breakpoint-mobile01) {
          margin-bottom: 3.88%;
        }
        .rh3ttl01 {
        width: 12.8%;
        }
      }
      .txt_area {
        .txt {
          margin: 34px 0 19px;
          @include max-screen($breakpoint-mobile01) {
            margin: 5.2% 0;
          }
        }
        .signature {
          width: 177px;
          line-height: 1;
          @include max-screen($breakpoint-mobile01) {
            width: 41.76%;
          }
        }
      }
    }
    #section02 {
      .h3ttl02 {
        .rh3ttl02 {
          width: 17.9%;
        }
      }
      table {
        width: 100%;
        tr {
          border-bottom: 1px solid $bc01;
          &:first-of-type {
            td {
              padding-top: 0;
            }
          }
          th {
            width: 180px;
            padding-left: 17px;
            text-align: left;
            @include max-screen($breakpoint-mobile01) {
              width: 26.4%;
              padding-left: 0;
            }
          }
          td {
            padding: 19px 0;
            @include max-screen($breakpoint-mobile01) {
              padding: 2.5%;
            }
            .txt {
              margin-bottom: 14px;
            }
            .gmap {
              position: relative;
              padding-bottom: 75%; // これが縦横比
              height: 0;
              overflow: hidden;
              border: 1px solid $bc01;
              iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
              }
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    #section03 {
      .h3ttl02 {
        .rh3ttl03 {
          width: 26.3%;
        }
      }
      .img {
        width: 640px;
        margin: 0 auto 40px;
        @include max-screen($breakpoint-mobile01) {
          width: 94.1%;
          margin-bottom: 5.88%;
        }
      }
      .cnt_bnr {
        @include clearfix;
        padding: 30px 35px 30px 24px;
        background: url("../img/company/cnt_bg.gif") 0 0 no-repeat;
        @include max-screen($breakpoint-mobile01) {
          width: 94%;
          padding: 3%;
          background: none;
          background-color: #eeeeee;
        }
        .txt_area {
          width: 460px;
        }
        .txt {
          padding-top: 55px;
        }
        .tel {
          width: 89.7%;
          margin: 3.52% auto;
        }
      }
    }
  }
}

/*  06.business
-------------------------------------------------- */
#business {
  .inner {
    #section01 {
      .h3ttl01 {
        margin-bottom: 18.5px;
        @include max-screen($breakpoint-mobile01) {
          width: 70%;
          margin-bottom: 3.97%;
        }
      }
      .unit {
        @include clearfix;
        .txt_area {
          width: 610px;
          margin-bottom: 21.5px;
          .txt01 {
            margin-bottom: 11.5px;
          }
        }
        .img {
          margin-top: 8.5px;
        }
      }
      .rimg {
        width: 70.7%;
        margin: 0 auto 3.16%;
      }
      .rtxt_area {
        margin-bottom: 3.16%;
        .rtxt {
          margin-bottom: 1.69%;
        }
      }
      ul {
        @include max-screen($breakpoint-mobile01) {
          width: 70.7%;
          margin: 0 auto;
        }
        li {
          display: inline-block;
          margin-right: 22.6px;
          &:last-child {
            margin-right: 0;
          }
          @include max-screen($breakpoint-mobile01) {
            width: 47.5%;
            margin: 0 0 5%;
            &:nth-child(2n-1) {
              margin-right: 5%;
            }
            &:nth-child(3),
            &:last-child {
              margin-bottom: 0;
            }
          }
          .txt02 {
            padding: 4.5px 0;
            text-align: center;
            border: 1px solid $bc01;
            border-top: none;
          }
        }
      }
    }
    #section02 {
      .h2ttl02 {
        margin-bottom: 27px;
        padding-left: 35px;
        font-size: 24px;
        background: url("../img/business/mark.gif") 0 0 no-repeat;
      }
      .rh2ttl02 {
        width: 19.1%;
        margin-bottom: 3.97%;
      }
      table {
        width: 100%;
        tr {
          th {
            width: 275px;
            padding: 15px 0 15px 15px;
            text-align: left;
            border: 1px solid $bc01;
            background-color: #eeeeee;
            @include max-screen($breakpoint-mobile01) {
              width: 34.7%;
              padding: 1.6% 2.2%;
            }
          }
          td {
            padding: 15px 0 15px 15px;
            border: 1px solid $bc01;
            @include max-screen($breakpoint-mobile01) {
              padding: 1.6% 2.2%;
            }
            p {
              margin-bottom: 7px;
              line-height: 1;
              @include max-screen($breakpoint-mobile01) {
                margin-bottom: 1.58%;
                padding-left:1em;
                text-indent:-1em;
              }
            }
          }
        }
      }
    }
  }
}

/*  07.facility
-------------------------------------------------- */
#facility {
  .inner {
    #section01 {
      .h3ttl01 {
        margin-bottom: 21px;
        @include max-screen($breakpoint-mobile01) {
          width: 61.8%;
          margin-bottom: 3.97%;
        }
      }
      .img_area {
        width: 313px;
         @include max-screen($breakpoint-mobile01) {
          width: 100%;
          margin-bottom: 3.16%;
         }
        .img {
          margin: 6px 0 15px;
          @include max-screen($breakpoint-mobile01) {
            width: 46%;
            margin: 0;
            &:first-of-type {
              float: left;
            }
            &:last-of-type {
              float: right;
            }
          }
        }
      }
      .unit {
        width: 610px;
        @include max-screen($breakpoint-mobile01) {
          width: 100%;
        }
        .txt_area {
          margin-bottom: 30px;
          @include max-screen($breakpoint-mobile01) {
            margin-bottom: 3.16%;
          }
        }
        table {
          width: 100%;
          tr {
            th {
              width: 50%;
              padding: 12px 0;
              background-color: #eeeeee;
              border: 1px solid $bc01;
              @include max-screen($breakpoint-mobile01) {
                padding: 1.78% 0;
              }
            }
            td {
              padding: 12px 0;
              border: 1px solid $bc01;
              @include max-screen($breakpoint-mobile01) {
                padding: 1.78% 0;
              }
              &:first-of-type {
                padding-left: 15px;
                @include max-screen($breakpoint-mobile01) {
                  padding-left: 2.2%;
                }
              }
              &:last-of-type {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

/*  08.product
-------------------------------------------------- */
#product {
  .inner {
    #section01 {
      .h3ttl01 {
        width: 419px;
        margin: 0 auto 24px;
        @include max-screen($breakpoint-mobile01) {
          width: 61.6%;
          margin-bottom: 3.16%;
        }
      }
      .txt {
        margin-bottom: 49px;
        text-align: center;
        @include max-screen($breakpoint-mobile01) {
          margin-bottom: 4.63%;
        }
        @include max-screen($breakpoint-mobile03) {
          text-align: left;
        }
        @include middle-screen01($break-point-min01, $break-point-max01) {
          text-align: left;
        }
        @include middle-screen02($break-point-min02, $break-point-max02) {
          text-align: left;
        }
      }
      .unit {
        @include clearfix;
        margin-bottom: 44px;
        @include max-screen($breakpoint-mobile01) {
          margin-bottom: 3.89%;
        }
        &:last-of-type {
          @include max-screen($breakpoint-mobile01) {
            margin-bottom: 10%;
          }
        }
        dl {
          @include clearfix;
          margin-bottom: 17.5px;
          border: 1px solid $bc01;
          dt {
            float: left;
            clear: left;
            padding: 7px 15px;
            color: #fff;
            background-color: $blue;
            @include max-screen($breakpoint-mobile01) {
              padding: 2.57% 2.2%;
            }
            @include middle-screen01($break-point-min01, $break-point-max01) {
              font-size: 12px;
            }
          }
          dd {
            float: left;
            padding: 7px 0 7px 10px;
            @include max-screen($breakpoint-mobile01) {
              padding: 2.57% 0 2.57% 1.47%;
            }
            @include middle-screen01($break-point-min01, $break-point-max01) {
              font-size: 12px;
            }
          }
        }
        ul {
          li {
            float: left;
            margin-bottom: 17px;
            &:nth-child(3n-1) {
              margin: 0 17.5px 17px;
            }
            &:nth-child(n+4) {
              margin-bottom: 0;
            }
             @include max-screen($breakpoint-mobile01) {
              width: 46.1%;
              &:nth-child(2n-1) {
                margin: 0 1.47% 0.955% 2.2%;
              }
              &:nth-child(2n) {
                margin: 0 1.47% 0.955% 2.2%;
              }
              &:nth-child(n+5) {
                margin-bottom: 0;
              }
            }
            .img {
              margin-bottom: 3.9px;
              @include max-screen($breakpoint-mobile01) {
                margin-bottom: 0.955%;
              }
            }
          }
        }
      }
    }
  }
}

/*  09.news
-------------------------------------------------- */
#news {
  .inner {
    p {
      line-height: 1.857;
    }
    a:hover {
      text-decoration: underline;
    }
    .artcle_area {
      width: 720px;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
      }
      .article {
        margin-bottom: 45px;
        @include max-screen($breakpoint-mobile01) {
          margin-bottom: 6.25%;
          .img {
            width: 44.1%;
          }
         }
        .h3ttl {
          padding: 2px 0 18px 40px;
          margin-bottom: 14px;
          font-size: 18px;
          background: url("../img/news/h3ttl_bg.gif") 0 0 no-repeat;
          @include max-screen($breakpoint-mobile01) {
            padding: 0.3% 0 3.53% 6.5%;
            margin-bottom: 0.6%;
            font-size: 100%;
            background: url("../img/sp/news/h3ttl_bg.gif") 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
        .date {
          margin-bottom: 25px;
          @include max-screen($breakpoint-mobile01) {
            margin-bottom: 3.47%;
          }
        }
      }
      .pagenav {
        margin-top: 39px;
        @include max-screen($breakpoint-mobile01) {
          margin-top: 11.76%;
        }
        .prev {
          width: 18.8%;
        }
        .next {
          width: 18.8%;
        }
      }
    }
    #sidebar {
      width: 220px;
      dl {
        margin-bottom: 25px;
        dt {
          padding: 13px 0 13px 18px;
          margin-bottom: 4px;
          color: $blue;
          font-weight: bold;
          background: #eeeeee url("../img/news/mark.gif") 7px center no-repeat;
        }
        dd {
          padding: 9.5px 0 9.5px 18px;
          line-height: 1.5;
          border-bottom: 1px dotted #000;
        }
      }
      .calendar {
        p {
          padding: 13px 0 13px 18px;
          margin-bottom: 15px;
          color: $blue;
          line-height: 1;
          font-weight: bold;
          background: #eeeeee url("../img/news/mark.gif") 7px center no-repeat;
        }
        table {
          width: 100%;
          caption {
            margin-bottom: 10px;
            font-weight: bold;
          }
          thead {
            tr {
              th {
                width: 14.28%;
                padding: 5px 0;
                text-align: center;
              }
            }
          }
          tfoot {
            tr {
              #next {
                padding-top: 10px;
                text-align: right;
                a {
                  color: $blue;
                }
              }
              #prev {
                padding-top: 10px;
                text-align: left;
                a {
                  color: $blue;
                }
              }
            }
          }
          tbody {
            padding-bottom: 10px;
            tr {
              td {
                width: 14.28%;
                padding: 5px 0;
                text-align: center;
                a {
                  display: block;
                  width: 80%;
                  margin: 0 auto;
                  padding: 3px 0;
                  background-color: $bc01;
                }
              }
            }
          }
        }
      }
    }
  }
}