@charset "UTF-8";
/*====================================================================

01.format
02.common
03.top
04.low-common
05.company
06.business
07.facility
08.product
09.news

=====================================================================*/
/*  01.format
-------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  min-width: 980px;
  font-size: 14px;
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #1b1b1b;
}

@media screen and (max-width: 750px) {
  body {
    min-width: 0;
    font-size: 22px;
    line-height: 1;
  }
}

@media screen and (min-width: 751px) {
  body {
    font-size: 14px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
    line-height: 1;
  }
}

@media screen and (min-width: 321px) and (max-width: 370px) {
  body {
    font-size: 13px;
    line-height: 1;
  }
}

@media screen and (min-width: 371px) and (max-width: 420px) {
  body {
    font-size: 14px;
    line-height: 1;
  }
}

@media screen and (min-width: 421px) and (max-width: 470px) {
  body {
    font-size: 15px;
    line-height: 1;
  }
}

@media screen and (min-width: 471px) and (max-width: 520px) {
  body {
    font-size: 16px;
    line-height: 1;
  }
}

@media screen and (min-width: 521px) and (max-width: 570px) {
  body {
    font-size: 17px;
    line-height: 1;
  }
}

@media screen and (min-width: 571px) and (max-width: 620px) {
  body {
    font-size: 18px;
    line-height: 1;
  }
}

@media screen and (min-width: 621px) and (max-width: 670px) {
  body {
    font-size: 19px;
    line-height: 1;
  }
}

@media screen and (min-width: 671px) and (max-width: 720px) {
  body {
    font-size: 20px;
    line-height: 1;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  color: #1b1b1b;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

@media screen and (max-width: 750px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 750px) {
  .rsp {
    display: none !important;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

/*  02.common
-------------------------------------------------- */
.inner {
  *zoom: 1;
  width: 980px;
  margin: 0 auto;
}

.inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .inner {
    width: 94.4%;
    margin: 0 auto;
  }
}

#header {
  width: 100%;
  margin-bottom: 15px;
  border-top: 7px solid #0093fd;
}

@media screen and (max-width: 750px) {
  #header {
    margin-bottom: 0;
    border-top: none;
  }
}

#header .inner {
  position: relative;
}

@media screen and (max-width: 750px) {
  #header .inner {
    width: 100%;
  }
}

#header .inner h1 {
  padding: 13px 0 0 235px;
  margin-bottom: 35px;
  font-size: 12px;
}

@media screen and (max-width: 750px) {
  #header .inner h1 {
    width: 40.27%;
    padding: 0;
    padding: 4.58% 0 0 2.8%;
    margin: 0;
  }
}

#header .inner .htel {
  position: absolute;
  top: 0;
  right: 0;
}

#header .inner .hlogo {
  width: 262px;
}

#header .inner #gnav li {
  display: inline-block;
  padding: 10px 30px 0 0;
}

#header .inner #gnav li:last-child {
  padding-right: 0;
}

#header .inner #gnav li a:hover {
  color: #1b1b1b;
  text-decoration: underline;
}

#header .inner .tel_btn {
  border-left: 1px solid #0093fd;
}

#header .inner .tel_btn img {
  display: block;
}

#header .inner #menu_btn {
  border-left: 1px solid #0093fd;
}

#header .inner #menu_btn img {
  display: block;
}

#header .inner #menu {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 100;
  border-top: 1px solid #fff;
}

#header .inner #menu li {
  background-color: #0093fd;
  border-bottom: 1px solid #fff;
}

#header .inner #menu li a {
  display: block;
  padding: 2.6% 1.32%;
  color: #fff;
  text-decoration: none;
}

#footer {
  width: 100%;
  height: 235px;
  background: url("../img/footer_bg.gif");
}

@media screen and (max-width: 750px) {
  #footer {
    height: auto;
    background: none;
  }
}

#footer .f_inner {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

#footer .f_inner dl {
  width: 262px;
  margin-top: 70px;
  font-size: 13px;
  line-height: 1.538;
}

#footer .f_inner ul {
  margin-top: 115px;
}

#footer .f_inner ul li {
  float: left;
  padding: 0 13px;
}

#footer .f_inner ul li:first-child {
  padding-left: 0;
}

#footer .f_inner ul li:last-child {
  padding-right: 0;
}

#footer .f_inner ul li a:hover {
  text-decoration: underline;
}

#footer .f_inner .to_top {
  position: absolute;
  right: 0;
}

#footer .f_inner .cr {
  clear: both;
  padding-top: 45px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

#footer .rto_top {
  *zoom: 1;
  width: 94.4%;
  margin: 0 auto 4.41%;
}

#footer .rto_top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer .rto_top a {
  display: block;
  float: right;
  padding-left: 35px;
  background: url("../img/sp/tt_btn.gif") 0 0 no-repeat;
}

#footer .fnav {
  *zoom: 1;
  width: 100%;
  margin-bottom: 4.16%;
}

#footer .fnav:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer .fnav li {
  width: 50%;
  float: left;
}

#footer .address {
  border-bottom: 13px solid #0093fd;
}

#footer .address .address_in {
  width: 94.4%;
  margin: 0 auto;
  padding-bottom: 4.16%;
}

#footer .address .address_in .txt {
  padding: 13px 0;
}

#footer .switch {
  padding: 6.3% 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#footer .switch p {
  border: 1px solid #000;
}

#footer .switch .switch_in {
  *zoom: 1;
}

#footer .switch .switch_in:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer .switch .switch_in li {
  width: 50%;
  float: left;
}

#footer .switch .switch_in li a {
  display: block;
  text-align: center;
}

#footer .switch .switch_in li:first-child a {
  border-right: 1px solid #000;
}

#footer .switch .switch_in li:last-child a {
  border-left: 1px solid #000;
}

#footer .rcr {
  padding: 27px 0;
  text-align: center;
  color: #fff;
  background-color: #0093fd;
}

/*  03.top
-------------------------------------------------- */
#mimg {
  position: relative;
  width: 100%;
  background-color: #f4f4f4;
  border-top: 1px solid #cccccc;
}

#mimg .slider {
  margin: 0;
  padding: 0;
}

#mimg .slider li {
  height: 399px;
  background-position: center 0;
  background-repeat: no-repeat;
}

#mimg .slider li img {
  width: 100%;
}

#mimg .bx-controls-direction {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  z-index: 99;
}

@media screen and (max-width: 1650px) {
  #mimg .bx-controls-direction {
    display: none;
  }
}

#mimg .bx-controls-direction .bx-prev {
  float: left;
  display: block;
  width: 16px;
  height: 30px;
  padding: 15px 5px 0 0;
  font-size: 18px;
  color: #fff;
  background: url("../img/top/prev_btn.gif") 0 0 no-repeat;
}

#mimg .bx-controls-direction .bx-next {
  float: right;
  display: block;
  width: 16px;
  height: 30px;
  padding: 15px 0 0 5px;
  font-size: 18px;
  color: #fff;
  background: url("../img/top/next_btn.gif") 0 0 no-repeat;
}

#rmimg {
  position: relative;
  width: 100%;
}

#rmimg .rslider {
  margin: 0;
  padding: 0;
}

#top .section {
  padding: 50px 0;
}

@media screen and (max-width: 750px) {
  #top .section {
    padding: 4.86% 0 6.94%;
  }
}

#top .section h2 {
  margin-bottom: 25px;
}

@media screen and (max-width: 750px) {
  #top .section h2 {
    margin-bottom: 3.67%;
  }
}

#top #section01 .inner .rh2ttl {
  width: 65.5%;
}

#top #section01 .inner ul li {
  float: left;
  width: 300px;
  height: 310px;
}

@media screen and (max-width: 750px) {
  #top #section01 .inner ul li {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }
  #top #section01 .inner ul li:last-child {
    margin-bottom: 0;
  }
}

#top #section01 .inner ul li:nth-child(2) {
  margin: 0 40px;
}

@media screen and (max-width: 750px) {
  #top #section01 .inner ul li:nth-child(2) {
    margin: 0 0 34px;
  }
}

#top #section01 .inner ul li .h3ttl01 {
  width: 73%;
}

#top #section01 .inner ul li .h3ttl02 {
  width: 65.7%;
}

#top #section01 .inner ul li .h3ttl03 {
  width: 65.5%;
}

#top #section01 .inner ul li .img {
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 7px solid #0093fd;
}

@media screen and (max-width: 750px) {
  #top #section01 .inner ul li .img {
    padding-bottom: 0;
    margin-bottom: 2.94%;
    border-bottom: none;
  }
}

#top #section01 .inner ul li .txt_area {
  height: 76px;
  margin: 16.5px 0 6.5px;
  font-size: 12px;
  line-height: 1.538;
}

@media screen and (max-width: 750px) {
  #top #section01 .inner ul li .txt_area {
    height: auto;
    margin: 1.9% 0 0;
    font-size: 100%;
  }
}

#top #section01 .inner ul li .txt_area .txt {
  padding-left: 1em;
  text-indent: -1em;
}

#top #section02 {
  width: 100%;
  background-color: #f4f4f4;
}

#top #section02 .inner .h2ttl {
  padding-bottom: 10px;
  background: url("../img/top/secttl_bg.gif") 0 bottom no-repeat;
}

#top #section02 .inner .h2ttl span {
  display: block;
  float: right;
  padding: 5px 0 0 20px;
  background: url("../img/top/mark.gif") 0 5px no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner .h2ttl span {
    background-position: 0 8px;
  }
}

#top #section02 .inner .h2ttl span a {
  font-size: 12px;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner .h2ttl span a {
    font-size: 19px;
  }
}

#top #section02 .inner .h2ttl span a:hover {
  text-decoration: underline;
}

#top #section02 .inner .ttl_wrap {
  background: url("../img/top/secttl_bg.gif") 0 bottom no-repeat;
}

#top #section02 .inner .ttl_wrap .rh2ttl {
  width: 27.2%;
  padding-bottom: 15px;
  margin-bottom: 0;
}

#top #section02 .inner ul li {
  *zoom: 1;
  padding: 23px 0;
  border-bottom: 1px solid #cccccc;
}

#top #section02 .inner ul li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#top #section02 .inner ul li:first-child {
  padding-top: 0;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner ul li {
    padding: 3.34% 0;
  }
  #top #section02 .inner ul li:first-child {
    padding-top: 3.34%;
  }
}

#top #section02 .inner ul li h3 {
  width: 695px;
  padding: 2px 0 0 35px;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner ul li h3 {
    width: 71%;
    padding: 0;
  }
}

#top #section02 .inner ul li h3 a:hover {
  text-decoration: underline;
}

#top #section02 .inner ul li .date {
  width: 250px;
  padding-top: 2px;
  background: url("../img/top/news_tab.gif") right 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner ul li .date {
    width: 29%;
    padding-top: 0;
    background: none;
  }
}

#top #section03 .inner ul li {
  float: left;
  width: 298px;
  border: 1px solid #cccccc;
}

#top #section03 .inner ul li:nth-child(2) {
  margin: 0 40px;
}

#top #section03 .inner .fb_wrap {
  width: 73.5%;
  margin: 0 auto;
}

#top #section03 .inner .fb_wrap .fb_iframe_widget,
#top #section03 .inner .fb_wrap .fb_iframe_widget span,
#top #section03 .inner .fb_wrap .fb_iframe_widget iframe[style] {
  width: 100% !important;
}

/*  04.low-common
-------------------------------------------------- */
.low_header {
  padding-bottom: 12px;
  background: url("../img/low/header_bg.gif");
  border-bottom: 1px solid #cccccc;
}

@media screen and (max-width: 750px) {
  .low_header {
    padding-bottom: 0;
    background: none;
    border-bottom: none;
  }
}

#breadcrumb {
  margin-bottom: 8px;
}

#breadcrumb ol {
  width: 980px;
  margin: 0 auto;
}

#breadcrumb ol li {
  display: inline-block;
  font-size: 11px;
}

#breadcrumb ol li a {
  color: #0093fd;
}

#breadcrumb ol li a:hover {
  text-decoration: underline;
}

#low_mimg {
  background: url("../img/low/mimg_bg.jpg");
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

#low_mimg .inner {
  padding: 57px 0 50px;
  background: url("../img/low/mimg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #low_mimg .inner {
    width: 100%;
    margin: 0;
    padding: 7.36% 0;
    background: url("../img/sp/low/mimg_bg.jpg") 0 0 no-repeat;
    background-size: cover;
  }
}

#low_mimg .inner .h2ttl {
  padding-left: 25px;
}

@media screen and (max-width: 750px) {
  #low_mimg .inner .h2ttl {
    padding-left: 6.25%;
  }
}

@media screen and (max-width: 750px) {
  #low_mimg .inner .company {
    width: 46.25%;
  }
  #low_mimg .inner .business {
    width: 17.2%;
  }
  #low_mimg .inner .facility {
    width: 28.75%;
  }
  #low_mimg .inner .product {
    width: 23.19%;
  }
  #low_mimg .inner .news {
    width: 39.4%;
  }
}

.low_main {
  padding: 40px 0 150px;
}

@media screen and (max-width: 750px) {
  .low_main {
    padding: 5.55% 0 13.8%;
  }
}

.low_main .inner .section {
  *zoom: 1;
  margin-bottom: 50px;
}

.low_main .inner .section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .low_main .inner .section {
    margin-bottom: 7.35%;
  }
}

.low_main .inner .section p {
  line-height: 1.857;
}

.low_main .inner .last {
  margin-bottom: 0;
}

.low_main .inner #bnr_area {
  margin-top: 80px;
}

.low_main .inner #bnr_area .bnr {
  *zoom: 1;
  height: 60px;
  padding: 25px;
  margin-bottom: 6.5px;
  background: url("../img/business/bnr_bg.jpg") 0 0 no-repeat;
}

.low_main .inner #bnr_area .bnr:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.low_main .inner #bnr_area .bnr .txt01 {
  width: 295px;
  font-size: 12px;
  color: #0093fd;
}

.low_main .inner #bnr_area .bnr .txt_area01 {
  width: 450px;
}

.low_main .inner #bnr_area .bnr .txt_area01 .txt02 {
  margin: 10px 0 15px;
  font-size: 16px;
}

.low_main .inner #bnr_area .bnr .txt_area01 .txt03 {
  font-size: 24px;
  color: #0093fd;
}

.low_main .inner #bnr_area .bnr .txt_area01 .txt03 span {
  font-weight: bold;
  font-size: 14px;
}

.low_main .inner #bnr_area .txt_area02 {
  line-height: 1.857;
}

.low_main .inner .pager_area ul li {
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 5px;
}

.low_main .inner .pager_area ul li .current {
  display: block;
}

.low_main .inner .pager_area ul li .inactive {
  display: block;
}

.low_main .inner .pager_area ul .active {
  border: 1px solid #0093fd;
}

@media screen and (max-width: 750px) {
  .low_main .inner .pager_area ul .prev_btn {
    float: left;
    width: 17.77%;
    padding: 1.8% 0;
    border: none;
    background: url("../img/sp/news/prev_btn_bg.gif") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .low_main .inner .pager_area ul .prev_btn a {
    display: block;
    padding-right: 10%;
    text-align: right;
  }
}

@media screen and (max-width: 750px) {
  .low_main .inner .pager_area ul .next_btn {
    float: right;
    width: 17.77%;
    padding: 1.8% 0;
    border: none;
    background: url("../img/sp/news/next_btn_bg.gif") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .low_main .inner .pager_area ul .next_btn a {
    display: block;
    padding-left: 12%;
  }
}

/*  05.company
-------------------------------------------------- */
#company .inner .h3ttl01,
#company .inner .h3ttl02 {
  padding: 0 0 27px 15px;
  background: url("../img/low/h3ttl_bg.gif") 0 bottom no-repeat;
}

@media screen and (max-width: 750px) {
  #company .inner .h3ttl01,
  #company .inner .h3ttl02 {
    padding: 0 0 4.41% 1.17%;
    background: url("../img/sp/low/h3ttl_bg.gif") 0 bottom no-repeat;
    background-size: 100% auto;
  }
}

#company .inner .h3ttl02 {
  margin-bottom: 27px;
}

@media screen and (max-width: 750px) {
  #company .inner .h3ttl02 {
    margin-bottom: 5.14%;
  }
}

#company .inner #section01 .h3ttl01 {
  margin-bottom: 21px;
}

@media screen and (max-width: 750px) {
  #company .inner #section01 .h3ttl01 {
    margin-bottom: 3.88%;
  }
}

#company .inner #section01 .h3ttl01 .rh3ttl01 {
  width: 12.8%;
}

#company .inner #section01 .txt_area .txt {
  margin: 34px 0 19px;
}

@media screen and (max-width: 750px) {
  #company .inner #section01 .txt_area .txt {
    margin: 5.2% 0;
  }
}

#company .inner #section01 .txt_area .signature {
  width: 177px;
  line-height: 1;
}

@media screen and (max-width: 750px) {
  #company .inner #section01 .txt_area .signature {
    width: 41.76%;
  }
}

#company .inner #section02 .h3ttl02 .rh3ttl02 {
  width: 17.9%;
}

#company .inner #section02 table {
  width: 100%;
}

#company .inner #section02 table tr {
  border-bottom: 1px solid #cccccc;
}

#company .inner #section02 table tr:first-of-type td {
  padding-top: 0;
}

#company .inner #section02 table tr th {
  width: 180px;
  padding-left: 17px;
  text-align: left;
}

@media screen and (max-width: 750px) {
  #company .inner #section02 table tr th {
    width: 26.4%;
    padding-left: 0;
  }
}

#company .inner #section02 table tr td {
  padding: 19px 0;
}

@media screen and (max-width: 750px) {
  #company .inner #section02 table tr td {
    padding: 2.5%;
  }
}

#company .inner #section02 table tr td .txt {
  margin-bottom: 14px;
}

#company .inner #section02 table tr td .gmap {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  border: 1px solid #cccccc;
}

#company .inner #section02 table tr td .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#company .inner #section02 table tr td a:hover {
  text-decoration: underline;
}

#company .inner #section03 .h3ttl02 .rh3ttl03 {
  width: 26.3%;
}

#company .inner #section03 .img {
  width: 640px;
  margin: 0 auto 40px;
}

@media screen and (max-width: 750px) {
  #company .inner #section03 .img {
    width: 94.1%;
    margin-bottom: 5.88%;
  }
}

#company .inner #section03 .cnt_bnr {
  *zoom: 1;
  padding: 30px 35px 30px 24px;
  background: url("../img/company/cnt_bg.gif") 0 0 no-repeat;
}

#company .inner #section03 .cnt_bnr:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #company .inner #section03 .cnt_bnr {
    width: 94%;
    padding: 3%;
    background: none;
    background-color: #eeeeee;
  }
}

#company .inner #section03 .cnt_bnr .txt_area {
  width: 460px;
}

#company .inner #section03 .cnt_bnr .txt {
  padding-top: 55px;
}

#company .inner #section03 .cnt_bnr .tel {
  width: 89.7%;
  margin: 3.52% auto;
}

/*  06.business
-------------------------------------------------- */
#business .inner #section01 .h3ttl01 {
  margin-bottom: 18.5px;
}

@media screen and (max-width: 750px) {
  #business .inner #section01 .h3ttl01 {
    width: 70%;
    margin-bottom: 3.97%;
  }
}

#business .inner #section01 .unit {
  *zoom: 1;
}

#business .inner #section01 .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#business .inner #section01 .unit .txt_area {
  width: 610px;
  margin-bottom: 21.5px;
}

#business .inner #section01 .unit .txt_area .txt01 {
  margin-bottom: 11.5px;
}

#business .inner #section01 .unit .img {
  margin-top: 8.5px;
}

#business .inner #section01 .rimg {
  width: 70.7%;
  margin: 0 auto 3.16%;
}

#business .inner #section01 .rtxt_area {
  margin-bottom: 3.16%;
}

#business .inner #section01 .rtxt_area .rtxt {
  margin-bottom: 1.69%;
}

@media screen and (max-width: 750px) {
  #business .inner #section01 ul {
    width: 70.7%;
    margin: 0 auto;
  }
}

#business .inner #section01 ul li {
  display: inline-block;
  margin-right: 22.6px;
}

#business .inner #section01 ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 750px) {
  #business .inner #section01 ul li {
    width: 47.5%;
    margin: 0 0 5%;
  }
  #business .inner #section01 ul li:nth-child(2n-1) {
    margin-right: 5%;
  }
  #business .inner #section01 ul li:nth-child(3), #business .inner #section01 ul li:last-child {
    margin-bottom: 0;
  }
}

#business .inner #section01 ul li .txt02 {
  padding: 4.5px 0;
  text-align: center;
  border: 1px solid #cccccc;
  border-top: none;
}

#business .inner #section02 .h2ttl02 {
  margin-bottom: 27px;
  padding-left: 35px;
  font-size: 24px;
  background: url("../img/business/mark.gif") 0 0 no-repeat;
}

#business .inner #section02 .rh2ttl02 {
  width: 19.1%;
  margin-bottom: 3.97%;
}

#business .inner #section02 table {
  width: 100%;
}

#business .inner #section02 table tr th {
  width: 275px;
  padding: 15px 0 15px 15px;
  text-align: left;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}

@media screen and (max-width: 750px) {
  #business .inner #section02 table tr th {
    width: 34.7%;
    padding: 1.6% 2.2%;
  }
}

#business .inner #section02 table tr td {
  padding: 15px 0 15px 15px;
  border: 1px solid #cccccc;
}

@media screen and (max-width: 750px) {
  #business .inner #section02 table tr td {
    padding: 1.6% 2.2%;
  }
}

#business .inner #section02 table tr td p {
  margin-bottom: 7px;
  line-height: 1;
}

@media screen and (max-width: 750px) {
  #business .inner #section02 table tr td p {
    margin-bottom: 1.58%;
    padding-left: 1em;
    text-indent: -1em;
  }
}

/*  07.facility
-------------------------------------------------- */
#facility .inner #section01 .h3ttl01 {
  margin-bottom: 21px;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .h3ttl01 {
    width: 61.8%;
    margin-bottom: 3.97%;
  }
}

#facility .inner #section01 .img_area {
  width: 313px;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .img_area {
    width: 100%;
    margin-bottom: 3.16%;
  }
}

#facility .inner #section01 .img_area .img {
  margin: 6px 0 15px;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .img_area .img {
    width: 46%;
    margin: 0;
  }
  #facility .inner #section01 .img_area .img:first-of-type {
    float: left;
  }
  #facility .inner #section01 .img_area .img:last-of-type {
    float: right;
  }
}

#facility .inner #section01 .unit {
  width: 610px;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .unit {
    width: 100%;
  }
}

#facility .inner #section01 .unit .txt_area {
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .unit .txt_area {
    margin-bottom: 3.16%;
  }
}

#facility .inner #section01 .unit table {
  width: 100%;
}

#facility .inner #section01 .unit table tr th {
  width: 50%;
  padding: 12px 0;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .unit table tr th {
    padding: 1.78% 0;
  }
}

#facility .inner #section01 .unit table tr td {
  padding: 12px 0;
  border: 1px solid #cccccc;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .unit table tr td {
    padding: 1.78% 0;
  }
}

#facility .inner #section01 .unit table tr td:first-of-type {
  padding-left: 15px;
}

@media screen and (max-width: 750px) {
  #facility .inner #section01 .unit table tr td:first-of-type {
    padding-left: 2.2%;
  }
}

#facility .inner #section01 .unit table tr td:last-of-type {
  text-align: center;
}

/*  08.product
-------------------------------------------------- */
#product .inner #section01 .h3ttl01 {
  width: 419px;
  margin: 0 auto 24px;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .h3ttl01 {
    width: 61.6%;
    margin-bottom: 3.16%;
  }
}

#product .inner #section01 .txt {
  margin-bottom: 49px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .txt {
    margin-bottom: 4.63%;
  }
}

@media screen and (max-width: 320px) {
  #product .inner #section01 .txt {
    text-align: left;
  }
}

@media screen and (min-width: 321px) and (max-width: 370px) {
  #product .inner #section01 .txt {
    text-align: left;
  }
}

@media screen and (min-width: 371px) and (max-width: 420px) {
  #product .inner #section01 .txt {
    text-align: left;
  }
}

#product .inner #section01 .unit {
  *zoom: 1;
  margin-bottom: 44px;
}

#product .inner #section01 .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .unit {
    margin-bottom: 3.89%;
  }
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .unit:last-of-type {
    margin-bottom: 10%;
  }
}

#product .inner #section01 .unit dl {
  *zoom: 1;
  margin-bottom: 17.5px;
  border: 1px solid #cccccc;
}

#product .inner #section01 .unit dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#product .inner #section01 .unit dl dt {
  float: left;
  clear: left;
  padding: 7px 15px;
  color: #fff;
  background-color: #0093fd;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .unit dl dt {
    padding: 2.57% 2.2%;
  }
}

@media screen and (min-width: 321px) and (max-width: 370px) {
  #product .inner #section01 .unit dl dt {
    font-size: 12px;
  }
}

#product .inner #section01 .unit dl dd {
  float: left;
  padding: 7px 0 7px 10px;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .unit dl dd {
    padding: 2.57% 0 2.57% 1.47%;
  }
}

@media screen and (min-width: 321px) and (max-width: 370px) {
  #product .inner #section01 .unit dl dd {
    font-size: 12px;
  }
}

#product .inner #section01 .unit ul li {
  float: left;
  margin-bottom: 17px;
}

#product .inner #section01 .unit ul li:nth-child(3n-1) {
  margin: 0 17.5px 17px;
}

#product .inner #section01 .unit ul li:nth-child(n+4) {
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .unit ul li {
    width: 46.1%;
  }
  #product .inner #section01 .unit ul li:nth-child(2n-1) {
    margin: 0 1.47% 0.955% 2.2%;
  }
  #product .inner #section01 .unit ul li:nth-child(2n) {
    margin: 0 1.47% 0.955% 2.2%;
  }
  #product .inner #section01 .unit ul li:nth-child(n+5) {
    margin-bottom: 0;
  }
}

#product .inner #section01 .unit ul li .img {
  margin-bottom: 3.9px;
}

@media screen and (max-width: 750px) {
  #product .inner #section01 .unit ul li .img {
    margin-bottom: 0.955%;
  }
}

/*  09.news
-------------------------------------------------- */
#news .inner p {
  line-height: 1.857;
}

#news .inner a:hover {
  text-decoration: underline;
}

#news .inner .artcle_area {
  width: 720px;
}

@media screen and (max-width: 750px) {
  #news .inner .artcle_area {
    width: 100%;
  }
}

#news .inner .artcle_area .article {
  margin-bottom: 45px;
}

@media screen and (max-width: 750px) {
  #news .inner .artcle_area .article {
    margin-bottom: 6.25%;
  }
  #news .inner .artcle_area .article .img {
    width: 44.1%;
  }
}

#news .inner .artcle_area .article .h3ttl {
  padding: 2px 0 18px 40px;
  margin-bottom: 14px;
  font-size: 18px;
  background: url("../img/news/h3ttl_bg.gif") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #news .inner .artcle_area .article .h3ttl {
    padding: 0.3% 0 3.53% 6.5%;
    margin-bottom: 0.6%;
    font-size: 100%;
    background: url("../img/sp/news/h3ttl_bg.gif") 0 0 no-repeat;
    background-size: 100% auto;
  }
}

#news .inner .artcle_area .article .date {
  margin-bottom: 25px;
}

@media screen and (max-width: 750px) {
  #news .inner .artcle_area .article .date {
    margin-bottom: 3.47%;
  }
}

#news .inner .artcle_area .pagenav {
  margin-top: 39px;
}

@media screen and (max-width: 750px) {
  #news .inner .artcle_area .pagenav {
    margin-top: 11.76%;
  }
}

#news .inner .artcle_area .pagenav .prev {
  width: 18.8%;
}

#news .inner .artcle_area .pagenav .next {
  width: 18.8%;
}

#news .inner #sidebar {
  width: 220px;
}

#news .inner #sidebar dl {
  margin-bottom: 25px;
}

#news .inner #sidebar dl dt {
  padding: 13px 0 13px 18px;
  margin-bottom: 4px;
  color: #0093fd;
  font-weight: bold;
  background: #eeeeee url("../img/news/mark.gif") 7px center no-repeat;
}

#news .inner #sidebar dl dd {
  padding: 9.5px 0 9.5px 18px;
  line-height: 1.5;
  border-bottom: 1px dotted #000;
}

#news .inner #sidebar .calendar p {
  padding: 13px 0 13px 18px;
  margin-bottom: 15px;
  color: #0093fd;
  line-height: 1;
  font-weight: bold;
  background: #eeeeee url("../img/news/mark.gif") 7px center no-repeat;
}

#news .inner #sidebar .calendar table {
  width: 100%;
}

#news .inner #sidebar .calendar table caption {
  margin-bottom: 10px;
  font-weight: bold;
}

#news .inner #sidebar .calendar table thead tr th {
  width: 14.28%;
  padding: 5px 0;
  text-align: center;
}

#news .inner #sidebar .calendar table tfoot tr #next {
  padding-top: 10px;
  text-align: right;
}

#news .inner #sidebar .calendar table tfoot tr #next a {
  color: #0093fd;
}

#news .inner #sidebar .calendar table tfoot tr #prev {
  padding-top: 10px;
  text-align: left;
}

#news .inner #sidebar .calendar table tfoot tr #prev a {
  color: #0093fd;
}

#news .inner #sidebar .calendar table tbody {
  padding-bottom: 10px;
}

#news .inner #sidebar .calendar table tbody tr td {
  width: 14.28%;
  padding: 5px 0;
  text-align: center;
}

#news .inner #sidebar .calendar table tbody tr td a {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 3px 0;
  background-color: #cccccc;
}
